@import './comp.less';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial,
    sans-serif;
  // font-size: @fontDefaultSize;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.icon {
  width: @fontDefaultSize;
  height: @fontDefaultSize;
}

// 隐藏滑动条
::-webkit-scrollbar {
  display: none;
}
.flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
